@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    padding: 0;
    margin: 0;
}
:root {
	--darker-color: #272829;
	--dark-color: #61677A;
	--light-color: #D8D9DA;
	--lighter-color: #FFF6E0;
	--green-color: #748E63;
	--red-color: #C70039;
}
body {
	font-family: 'Oswald', sans-serif;
	background-color: var(--light-color);
	display: flex;
	justify-content: space-around;
}
h2, p {
	cursor: default;
}
#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 1.5rem;
}
#main > h2 {
	margin-bottom: 1rem;
}
#title {
	width: 65%;
	margin-bottom: 4rem;
	background-color: var(--lighter-color);
	border: 3px solid var(--dark-color);
	border-radius: 20px;
	padding: 1.5rem;
}
#title h2 {
	font-size: 3.3rem;
	color: var(--darker-color);
	text-decoration: underline;
	text-decoration-style: dashed;
	text-decoration-color: var(--dark-color);
	text-decoration-thickness: 10px;
	text-shadow: 2px 2px 6px var(--dark-color);
	margin: .5rem 0;
}
#title h2#rock {
	text-align: center;
}
#title h2#paper {
	text-align:	left;
}
#title h2#scissors {
	text-align: right;
}
#setup {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
label {
	font-size: 1.4rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--darker-color);
	gap: 1.5rem;
}
#number-of-wins {
	background-color: var(--lighter-color);
	width: 65px;
	height: 40px;
	border-radius: 10px;
	font-size: 2rem;
	text-align: center;
	border: 3px solid var(--darker-color);
	margin-bottom: 1.5rem;
}
#number-of-wins:focus {
	box-shadow: 2px 2px 5px var(--dark-color);
}
#number-of-wins:focus-visible {
	outline: none;
}
#start-button{
	background-color: var(--lighter-color);
	cursor: default;
	font-size: 2rem;
	color: var(--darker-color);
	border: 3px solid var(--darker-color);
	border-radius: 10px;
	text-decoration: none;
	padding: .75rem 2rem;
	font-weight: bolder;
	transition: scale 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}
#start-button:hover {
	scale: 1.07;
	box-shadow: 0px 0px 10px var(--dark-color);
}


.player-cards, .computer-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
	width: 100%;
	gap: 1.5rem;
}

.player-cards > *, .computer-cards > * {
    background-color: var(--lighter-color);
    border-radius: 15px;
    border: 3px solid var(--dark-color);
    transition: scale 0.25s linear, box-shadow 0.25s linear, translateX 0.25s linear, translateY 0.25s linear;
}

.player-cards .selected {
	transform: translateY(-15px);
}
.computer-cards .selected {
	transform: translateY(15px);
}
.player-cards > *:hover, .selected {
    scale: 1.1;
    box-shadow: 0 0 10px var(--darker-color);
}

.player-cards div img {
    transform: rotateY(180deg);
}
.player-cards .scissors img {
    transform: rotateX(180deg);
}

.invisible {
	visibility: hidden;
}

.score {
	background-color: var(--lighter-color);
	border-radius: 20px;
	border: 3px solid var(--dark-color);
	padding: .5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1.5rem;
	width: 300px;
}
.score h2, .score p {
    text-align: center;
}
.score h2 {
	font-size: 2rem;
	text-decoration: underline;
}
.score p {
	font-size: 1.5rem;
}
.red-color {
	color: var(--red-color);
}
.green-color {
	color: var(--green-color);
}
.score a {
	margin: 0 auto;
	background-color: var(--light-color);
	cursor: pointer;
	font-size: 1.2rem;
	color: var(--darker-color);
	border: 3px solid var(--darker-color);
	border-radius: 10px;
	text-decoration: none;
	padding: .35rem 1rem;
	font-weight: bolder;
}
.current-score {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.computer-score, .player-score {
	border-radius: 20px;
}
.last-round-result {
	width: 100%;
	border-top: 2px solid var(--darker-color);
}